
body{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

p {
    color: #8f8f8f;
}

/* Headings */

.big-heading, .cta-heading, .testimonial-text{
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading, .price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.price-text, .cta-heading, .big-heading, .testimonial-text, .section-heading, .feature-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

/* Sections */

.colored-section{
    color: #fff;
    background-color: #ff4c68;
}

.white-section{
    background-color: #fff;
}

#features, #press, #pricing, #testimonials, #cta, #footer{
    text-align: center;
}

#features, #cta, #footer, .carousel-item{
    padding: 7% 15%;
}

/* Navigation Bar */

#navbar{
    padding: 0 0 4.5rem;
}

#brand{
    font-family: "Ubuntu", sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title{
    text-align: left;
    padding: 3% 15% 7%
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%
}

/* Features Section */

#features{
    position: relative;
}

.feature-box{
    padding: 2%
}

.feature-title{
    font-size: 1.5rem;
}

.icon{
    margin-bottom: 1rem;
    color: #ef8172;
}

.icon:hover{
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials{
    background-color: #ef8172;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press Section */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo{
    width: 10%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

/* CTA Section */

.cta-heading{
    color: #fff;
    width: 80%;
    margin: auto;
}

/* Footer */

#footer{
    background-color: #fff;
}

.footer-icon{
    margin: 20px 10px;
}

@media (max-width: 1028px){
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
}